.noindent
{
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
font-size:100%;
text-align:justify;
text-indent:0em;
}

.indent
{
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
font-size:100%;
text-align:justify;
text-indent:1em;
}

.right
{
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:1em;
font-size:100%;
text-align:right;
text-indent:1em;
}

.rightside
{
margin-left:1em;
margin-right:0em;
margin-top:0.5em;
margin-bottom:0.5em;
font-size:100%;
text-align:justify;
text-indent:0em;
}

.center
{
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:1em;
font-size:100%;
text-align:center;
text-indent:0em;
}
.chp-num
{
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
font-size:250%;
text-align:justify;
text-indent:0em;
}
.chp-name
{
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:4em;
font-size:200%;
text-align:justify;
text-indent:0em;
}
.images
{
margin-left:0em;
margin-right:0em;
margin-top:1em;
margin-bottom:em;
font-size:100%;
text-align:center;
text-indent:0em;
}
.heading
{
margin-left:0em;
margin-right:0em;
margin-top:1em;
margin-bottom:1em;
font-size:100%;
text-align:justify;
text-indent:0em;
}
.hnb
{
margin-left:0em;
margin-right:0em;
margin-top:1em;
margin-bottom:0.5em;
font-size:100%;
text-align:justify;
text-indent:0em;
}
.tab
{
margin-left:0em;
margin-right:0em;
margin-top:1em;
margin-bottom:0em;
font-size:100%;
text-align:justify;
text-indent:0em;
border-top:1px solid black;
border-bottom:1px solid black;
}

.tab1
{
margin-left:0em;
margin-right:0em;
margin-top:1em;
margin-bottom:0em;
font-size:100%;
text-align:justify;
text-indent:0em;

border-bottom:1px solid black;
}
.bm1
{
	margin-left:2em;
	margin-right:2em;
	margin-top:0em;
	margin-bottom:0.5em;
	font-size:100%;
	text-align:justify;
	text-indent:-1em;
	padding-left:1px;
}

.fm1
{
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0.5em;
font-size:100%;
text-align:justify;
text-indent:0em;
}
.fm2
{
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
font-size:100%;
text-align:justify;
text-indent:1em;
}
.bm
{
margin-left:1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
font-size:100%;
text-align:justify;
text-indent:-1.5em;
}
.tittle
{
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:1em;
font-size:180%;
text-align:justify;
text-indent:0em;
}
.fm3
{
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
font-size:100%;
text-align:justify;
text-indent:0em;
}
.fmspace
{
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0.5em;
font-size:100%;
text-align:justify;
text-indent:0em;
}
.body
{
margin-left:5em;
margin-right:5em;
margin-top:0em;
margin-bottom:0em;
font-size:100%;
text-align:justify;
text-indent:0em;
}
.image1
{
margin-left:-3em;
margin-right:0em;
margin-top:5px;
margin-bottom:-2.5em;
font-size:140%;
text-align:justify;
text-indent:0em;
text-align:float-left;
}
.fm0
{
margin-left:-4em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
font-size:100%;
text-align:justify;
text-indent:0em;
}
.fm4
{
margin-left:-2.9em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
font-size:150%;
text-align:justify;
text-indent:0em;
}
.fm5
{
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
font-size:100%;
text-align:justify;
text-indent:0em;
}
.fm6
{
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
font-size:150%;
text-align:justify;
text-indent:0em;
}
.empty
{
	margin-bottom: 50px;
}
.space
{
	margin-bottom:1em;
}

.fm7
{
	margin-left:0em;
	margin-right:0em;
	margin-top :0em;
	margin-bottom:1em;
	font-size:100%;
	text-indent:0em;
}
.fm8
{
	margin-left:0em;
	margin-right:0em;
	margin-top :0em;
	margin-bottom:0.5em;
	font-size:100%;
	text-indent:0em;
}
.boldb
{
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
font-size:100%;
text-align:justify;
text-indent:0em;
font-weight:bold;
}
.boldtop
{
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
font-size:100%;
text-align:justify;
text-indent:0em;
font-weight:bold;
border-top:2px solid black;
}
.boldbottom
{
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
font-size:100%;
text-align:justify;
text-indent:0em;
border-bottom:2px solid black;
}
.gapsome
{
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:1.5em;
font-size:100%;
text-align:justify;
text-indent:0em;
font-weight:bold;
}	

.fm00
{
margin-left:6em;
margin-right:0em;
margin-top:0em;
margin-bottom:0.5em;
font-size:100%;
text-align:justify;
text-indent:0em;
}	

.image1
{
margin-left:1em;
margin-right:0em;
margin-top:0em;
margin-bottom:0em;
font-size:150%;
text-align:justify;
text-indent:0em;
text-align:float-left;
position:absolute;
}
.fmp
{
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:9em;
font-size:100%;
text-align:justify;
text-indent:0em;
}	
.boold
{
margin-left:0em;
margin-right:0em;
margin-top:0em;
margin-bottom:3em;
font-size:140%;
text-align:justify;
text-indent:0em;
Font-weight:bold;
}	
.boold1
{
margin-left:0em;
margin-right:0em;
margin-top:1em;
margin-bottom:1.5em;
font-size:100%;
text-align:justify;
text-indent:0em;
Font-weight:bold;
}	
.table
{
border-top:1px solid black;
border-bottom:1px solid black;
 width: 100%;
}
.center1
{
margin-left:0em;
margin-right:0em;
margin-top:1em;
margin-bottom:1em;
font-size:100%;
text-align:center;
text-indent:0em;
}
.indentspace
{
margin-left:1.2em;
margin-right:0em;
margin-top:0em;
margin-bottom:0.3em;
font-size:100%;
text-align:justify;
text-indent:0em;
}
.parasapce
{
	margin-bottom:2em;
}












